$primary-dark: #6C8268;
$primary-normal: #BBE2B5;
$primary-light: #E1EDDF;
$black: black;
$gray-900: #2A2A2A;
$gray-800: #6F6F6F;
$gray-700: #CFCFCF;
$white: white;
$logo-font: "Brother 1816";

@mixin flex($justify-content: start, $align-items: center, $flex-direction: row, $flex-wrap: wrap) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
}

@mixin position($position, $left: initial, $top: initial, $right: initial, $bottom: initial) {
	position: $position;
	left: $left;
	top: $top;
	right: $right;
	bottom: $bottom;
}

@mixin rwd($point) {
	@if $point == pad {
		@media (max-width: 640px) {
			@content
		}
	}
}
