@forward './variables';
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $colors: (
        'primary': (
            'base': #6C8268,
        ),
        'success': (
            'base': #BBE2B5,
        ),
        'info': (
            'base': #E1EDDF,
        ),
        'danger': (
            'base': #f44,
        ),
    ),
    $font-size: (
        'extra-large': 2rem,
        'large': 1.5rem,
        'medium': 1.25rem,
        'base': 1rem,
        'small': 14px,
        'extra-small': 12px,
    ),
    $menu: (
        'item-height': 1,
        'base-level-padding': 0,
        'hover-bg-color': transparent,
    ),
    $button: (
        'text-color': black,
    )
);